
*{
  padding: 0;
  margin: 0;
}

.custom-item img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.custom-item .m-3{
  transition: transform .2s;
}
.custom-item .m-3:hover{
  transform: scale(1.1);
}
.homebanner{
  width: 100%;
}

.custom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  padding: 10px;
  margin: 10px 15px;
  font-size: 4em;
}

@media all and (max-width:768px) and (orientation: portrait){
   .homebanner{
    height: 120px;
   }
   
}